################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
App
bin
Library
obj
Temp
UnityVS.5-Voice-Completed.sln
UnityVS.5-Voice-Completed.CSharp.Editor.csproj
UnityVS.5-Voice-Completed.CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass-uwp.csproj
Assembly-CSharp-uwp.csproj
5-Voice-Completed.sln
5-Voice-Completed-csharp.sln
WSATestCertificate.pfx
WSATestCertificate.pfx.meta