################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
App
bin
Library
obj
Temp
UnityVS.3-Gaze-Completed.sln
UnityVS.3-Gaze-Completed.CSharp.Editor.csproj
UnityVS.3-Gaze-Completed.CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass-uwp.csproj
Assembly-CSharp-uwp.csproj
3-Gaze-Completed.sln
3-Gaze-Completed-csharp.sln
WSATestCertificate.pfx
WSATestCertificate.pfx.meta