################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
App
bin
Library
obj
Temp
UnityVS.7-SpatialMapping-Completed.sln
UnityVS.7-SpatialMapping-Completed.CSharp.Editor.csproj
UnityVS.7-SpatialMapping-Completed.CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass-uwp.csproj
Assembly-CSharp-uwp.csproj
7-SpatialMapping-Completed.sln
7-SpatialMapping-Completed-csharp.sln
WSATestCertificate.pfx
WSATestCertificate.pfx.meta