################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
App
bin
Library
obj
Temp
UnityVS.8-Finale.sln
UnityVS.8-Finale.CSharp.Editor.csproj
UnityVS.8-Finale.CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass-uwp.csproj
Assembly-CSharp-uwp.csproj
8-Finale.sln
8-Finale-csharp.sln
WSATestCertificate.pfx
WSATestCertificate.pfx.meta