################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
App
bin
Library
obj
Temp
UnityVS.6-SpatialSound-Completed.sln
UnityVS.6-SpatialSound-Completed.CSharp.Editor.csproj
UnityVS.6-SpatialSound-Completed.CSharp.csproj
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass-uwp.csproj
Assembly-CSharp-uwp.csproj
6-SpatialSound-Completed.sln
6-SpatialSound-Completed-csharp.sln
WSATestCertificate.pfx
WSATestCertificate.pfx.meta